<h1>Listing lottery_results</h1>

<table>
  <tr>
    <th>Drawnumber</th>
    <th>Lotterytypeid</th>
    <th>Date</th>
    <th>Drawsequence</th>
    <th>Drawnumber</th>
    <th>Machinename</th>
    <th>Ballset</th>
    <th>Dayofweek</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lottery_results.each do |lottery_result| %>
  <tr>
    <td><%= lottery_result.drawNumber %></td>
    <td><%= lottery_result.lotteryTypeId %></td>
    <td><%= lottery_result.date %></td>
    <td><%= lottery_result.drawSequence %></td>
    <td><%= lottery_result.drawNumber %></td>
    <td><%= lottery_result.machineName %></td>
    <td><%= lottery_result.ballSet %></td>
    <td><%= lottery_result.dayOfWeek %></td>
    <td><%= link_to 'Show', lottery_result %></td>
    <td><%= link_to 'Edit', edit_lottery_result_path(lottery_result) %></td>
    <td><%= link_to 'Destroy', lottery_result, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lottery result', new_lottery_result_path %>
